<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <section class="product-uploader">
                    <% products.forEach(product=> { %>
                        <div class="producto">
                            <p>Producto <%= product.id %>
                            </p>
                            <a href="/productEdit/<%= product.id %>">
                                <div class="conteiner-img"
                                    style="background-image: url('/img/products/<%= product.image %>');">
                                </div>
                                <p>
                                    <%= product.name %>
                                </p>
                                <p>
                                    <%= product.description %>
                                </p>
                                <p>
                                    <%= product.category %>
                                </p>
                                <p>
                                    <%= product.Subcategory %>
                                </p>
                                <p>
                                    U$S <%= product.price %>
                                </p>
                            </a>
                        </div>
                        <% }) %>
                </section>
                <a href="/productUploader"><button>Cargar producto</button></a>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>