<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="sectionProducts" id="products">
                    <% products.forEach(product=> { %>
                        <a href="/productEdit/<%= product.id %>" class="card">
                            <% if (product.Images && product.Images.length> 0) { %>
                                <img src="http://localhost:3030/img/products/<%= product.Images[0].name %>"
                                    alt="<%= product.name %> Image">
                                <% } else { %>
                                    <p>No hay imágenes disponibles para este producto.</p>
                                    <% } %>
                                        <div>
                                            <h3>
                                                <%= product.name %>
                                            </h3>
                                            <p class="">
                                                <%= product.fabrication_year %>
                                            </p>
                                            <h6>
                                                U$S <%= product.price %>
                                            </h6>
                                            <button class="edit">Editar</button>
                                        </div>
                        </a>
                        <% }) %>
                </div>
                <a href="/productUploader"><button class="cargar">Cargar producto</button></a>
            </main>
            <%- include('./partials/footer') %>
    </body>

    </html>