<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="title">
                <h1>Lista de productos </h1>
            </div>
            <section class="seccion">
                <div class="contenedor">
                    <div class="seccionIzquierda">
                        <div class="contenedorSwitches">
                            <div class="switches">
                                <h4>Envío Gratis</h4>
                                <input type="checkbox" id="switch1" />
                                <label for="switch1"></label>
                            </div>
                            <div class="switches">
                                <h4>Programa Ahora 12</h4>
                                <input type="checkbox" id="switch2" />
                                <label for="switch2"></label>
                            </div>
                            <div class="switches">
                                <h4>Cuotas sin interés</h4>
                                <input type="checkbox" id="switch3" />
                                <label for="switch3"></label>
                            </div>
                        </div>
                        <div class="categorias">
                            <ul>
                                <li class="catInstrumentos">Instrumentos de Cuerda
                                    <ul>
                                        <li>Bajo
                                            <ul>
                                                <li class="catDetalle">Eléctrico 4 cuerdas</li>
                                                <li class="catDetalle">Eléctrico 5 cuerdas</li>
                                                <li class="catDetalle">Eléctrico 6 cuerdas</li>
                                                <li class="catDetalle">Electroacustico</li>
                                            </ul>
                                        </li>
                                        <li>Guitarra
                                            <ul>
                                                <li class="catDetalle">Acústica</li>
                                                <li class="catDetalle">Clasicas</li>
                                                <li class="catDetalle">Eléctricas</li>
                                                <li class="catDetalle">Electroacústicas</li>
                                            </ul>
                                        </li>
                                        <li>
                                            Violines
                                        </li>
                                        <li>Ukeleles
                                            <ul>
                                                <li class="catDetalle">Sopranos</li>
                                                <li class="catDetalle">Concierto</li>
                                                <li class="catDetalle">Tenor</li>
                                            </ul>
                                        </li>
                                        <li>
                                            Violas
                                        </li>
                                        <li>
                                            Cellos
                                        </li>
                                    </ul>
                                </li>
                                <li class="catInstrumentos">Instruementos de Viento
                                    <ul>
                                        <li>Armonicas</li>
                                        <li>Clarinetes</li>
                                        <li>Flautas Dulces</li>
                                        <li>Flautas Traversas</li>
                                        <li>Saxos
                                            <ul>
                                                <li class="catDetalle">Alto</li>
                                                <li class="catDetalle">Tenor</li>
                                            </ul>
                                        </li>
                                        <li>Trompetas</li>
                                        <li>Trombones</li>
                                    </ul>
                                </li>
                                <li class="catInstrumentos">Precusion
                                    <ul>
                                        <li>Baterias Acusticas</li>
                                        <li>Baterias Electronicas</li>
                                        <li>Bongos</li>
                                        <li>Djembes</li>
                                        <li>Platillos
                                            <ul>
                                                <li class="catDetalle">Crashes</li>
                                                <li class="catDetalle">Chinas</li>
                                                <li class="catDetalle">Hi-Hats</li>
                                                <li class="catDetalle">Rides</li>
                                                <li class="catDetalle">Splashes</li>
                                                <li class="catDetalle">SETS</li>
                                            </ul>
                                        </li>
                                        <li>Redoblantes</li>
                                        <li>Tumbadores</li>
                                    </ul>
                                </li>
                                <li class="catInstrumentos">Teclados y Pianos
                                    <ul>
                                        <li>Controladores MIDI</li>
                                        <li>Pianos Digitales</li>
                                        <li>Teclados</li>
                                        <li>Sintetizadores y Samplers</li>
                                        <li>Organos</li>
                                    </ul>
                                </li>
                                <li class="catInstrumentos">Accesorios
                                    <ul>
                                        <li class="catDetalle">Afinadores</li>
                                        <li class="catDetalle">Atriles</li>
                                        <li class="catDetalle">Auriculares</li>
                                        <li class="catDetalle">Cables</li>
                                        <li class="catDetalle">Capos</li>
                                        <li class="catDetalle">Consolas</li>
                                        <li class="catDetalle">Correas</li>
                                        <li class="catDetalle">Banquetas</li>
                                        <li class="catDetalle">Estuches</li>
                                        <li class="catDetalle">Fundas</li>
                                        <li class="catDetalle">Grabadoras</li>
                                        <li class="catDetalle">Microfonos</li>
                                        <li class="catDetalle">Mixers</li>
                                        <li class="catDetalle">Partituras</li>
                                        <li class="catDetalle">Parlantes</li>
                                        <li class="catDetalle">Pedaleras</li>
                                        <li class="catDetalle">Placas de audio</li>
                                        <li class="catDetalle">Puas</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="seccionProducts" id="products">
                        <% products.forEach(product=> { %>
                            <a href="/productDetail/<%= product.id %>" class="tarjeta">
                                <img src="/img/products/<%= product.image %>" alt="">
                                <div>
                                    <h3>
                                        <%= product.name %>
                                    </h3>
                                    <p class="">
                                        <%= product.description %>
                                    </p>
                                    <h6>
                                        U$S <%= product.price %>
                                    </h6>
                                    <button class="comprar">Comprar</button>
                                </div>
                            </a>
                            <% }) %>
                    </div>
                </div>
            </section>

            <section class="destacado">
                <div class="title">
                    <h1>PUEDE INTERESARTE</h1>
                </div>
                <div class="slide-container swiper">
                    <div class="slide-content slide4">
                        <div class="card-wrapper swiper-wrapper">
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-1.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-8.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-27.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-3.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-8.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-button-next swiper-navBtn"></div>
                        <div class="swiper-button-prev swiper-navBtn"></div>
                    </div>
                </div>
            </section>

            <%- include('./partials/newsLetter') %>
                <%- include('./partials/footer') %>
    </body>

</html>