<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="producto">
                    <h3>Editar producto</h3>
                    <form action="/products/<%= productEdit.id %>/edit?_method=PUT" method="post">
                        <div class="form-group">
                            <label for="nombre">Nombre de producto</label>
                            <input name="name" type="text" id="nombre" placeholder="Nombre del producto"
                                value="<%= productEdit.name %>">
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <input type="text" name="description" id="descripcion" placeholder="Descripción"
                                value="<%= productEdit.description %>">
                        </div>
                        <div class="form-group">
                            <label for="categoria">Categoría</label>
                            <input type="text" name="category" id="categoria" placeholder="Categoría"
                                value="<%= productEdit.category %>">
                        </div>
                        <div class="form-group">
                            <label for="subcategoria">Sub Categoría</label>
                            <input type="text" id="subcategoria" name="subCategory" placeholder="Sub Categoría"
                                value="<%= productEdit.subCategory %>">
                        </div>
                        <div class="form-group">
                            <label for="precio">Precio</label>
                            <input type="text" id="precio" name="price" placeholder="Precio"
                                value="<%= productEdit.price %>">
                        </div>
                        <input type="submit" value="Editar">
                    </form>
                    <form action="/products/<%= productEdit.id %>/delete?_method=DELETE" method="post">
                        <button type="submit" class="btn-delete-product">Eliminar</button>
                    </form>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

    </html>