<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="title">
                <h1>Lista de productos </h1>
            </div>
            <section class="section">
                <div class="container">
                    <div class="sectionIzquierda">
                        <div class="containerSwitches">
                            <div class="switches">
                                <h4>Envío Gratis</h4>
                                <input type="checkbox" id="switch1" />
                                <label for="switch1"></label>
                            </div>
                            <div class="switches">
                                <h4>Programa Ahora 12</h4>
                                <input type="checkbox" id="switch2" />
                                <label for="switch2"></label>
                            </div>
                            <div class="switches">
                                <h4>Cuotas sin interés</h4>
                                <input type="checkbox" id="switch3" />
                                <label for="switch3"></label>
                            </div>
                        </div>
                        <div class="category">
                            <ul>
                                <li class="catInstrument">Instrumentos de Cuerda
                                    <ul>
                                        <li>Bajo
                                            <ul>
                                                <li class="catDetail">Eléctrico 4 cuerdas</li>
                                                <li class="catDetail">Eléctrico 5 cuerdas</li>
                                                <li class="catDetail">Eléctrico 6 cuerdas</li>
                                                <li class="catDetail">Electroacustico</li>
                                            </ul>
                                        </li>
                                        <li>Guitarra
                                            <ul>
                                                <li class="catDetail">Acústica</li>
                                                <li class="catDetail">Clasicas</li>
                                                <li class="catDetail">Eléctricas</li>
                                                <li class="catDetail">Electroacústicas</li>
                                            </ul>
                                        </li>
                                        <li>
                                            Violines
                                        </li>
                                        <li>Ukeleles
                                            <ul>
                                                <li class="catDetail">Sopranos</li>
                                                <li class="catDetail">Concierto</li>
                                                <li class="catDetail">Tenor</li>
                                            </ul>
                                        </li>
                                        <li>
                                            Violas
                                        </li>
                                        <li>
                                            Cellos
                                        </li>
                                    </ul>
                                </li>
                                <li class="catInstrument">Instruementos de Viento
                                    <ul>
                                        <li>Armonicas</li>
                                        <li>Clarinetes</li>
                                        <li>Flautas Dulces</li>
                                        <li>Flautas Traversas</li>
                                        <li>Saxos
                                            <ul>
                                                <li class="catDetail">Alto</li>
                                                <li class="catDetail">Tenor</li>
                                            </ul>
                                        </li>
                                        <li>Trompetas</li>
                                        <li>Trombones</li>
                                    </ul>
                                </li>
                                <li class="catInstrument">Precusion
                                    <ul>
                                        <li>Baterias Acusticas</li>
                                        <li>Baterias Electronicas</li>
                                        <li>Bongos</li>
                                        <li>Djembes</li>
                                        <li>Platillos
                                            <ul>
                                                <li class="catDetail">Crashes</li>
                                                <li class="catDetail">Chinas</li>
                                                <li class="catDetail">Hi-Hats</li>
                                                <li class="catDetail">Rides</li>
                                                <li class="catDetail">Splashes</li>
                                                <li class="catDetail">SETS</li>
                                            </ul>
                                        </li>
                                        <li>Redoblantes</li>
                                        <li>Tumbadores</li>
                                    </ul>
                                </li>
                                <li class="catInstrument">Teclados y Pianos
                                    <ul>
                                        <li>Controladores MIDI</li>
                                        <li>Pianos Digitales</li>
                                        <li>Teclados</li>
                                        <li>Sintetizadores y Samplers</li>
                                        <li>Organos</li>
                                    </ul>
                                </li>
                                <li class="catInstrument">Accesorios
                                    <ul>
                                        <li class="catDetail">Afinadores</li>
                                        <li class="catDetail">Atriles</li>
                                        <li class="catDetail">Auriculares</li>
                                        <li class="catDetail">Cables</li>
                                        <li class="catDetail">Capos</li>
                                        <li class="catDetail">Consolas</li>
                                        <li class="catDetail">Correas</li>
                                        <li class="catDetail">Banquetas</li>
                                        <li class="catDetail">Estuches</li>
                                        <li class="catDetail">Fundas</li>
                                        <li class="catDetail">Grabadoras</li>
                                        <li class="catDetail">Microfonos</li>
                                        <li class="catDetail">Mixers</li>
                                        <li class="catDetail">Partituras</li>
                                        <li class="catDetail">Parlantes</li>
                                        <li class="catDetail">Pedaleras</li>
                                        <li class="catDetail">Placas de audio</li>
                                        <li class="catDetail">Puas</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sectionProducts" id="products">
                        <% products.forEach(product=> { %>
                            <a href="/productDetail/<%= product.id %>" class="card">
                                <% if (product.Images && product.Images.length> 0) { %>
                                    <img src="http://localhost:3030/img/products/<%= product.Images[0].name %>"
                                        alt="<%= product.name %> Image">
                                    <% } else { %>
                                        <p>No hay imágenes disponibles para este producto.</p>
                                        <% } %>
                                            <div>
                                                <h3>
                                                    <%= product.name %>
                                                </h3>
                                                <p class="">
                                                    <%= product.fabrication_year %>
                                                </p>
                                                <h6>
                                                    U$S <%= product.price %>
                                                </h6>
                                                <button class="comprar">Comprar</button>
                                            </div>
                            </a>
                            <% }) %>
                    </div>
                </div>
            </section>

            <section class="popularProduct">
                <div class="title">
                    <h1>PUEDE INTERESARTE</h1>
                </div>
                <div class="slide-container swiper">
                    <div class="slide-content slide4">
                        <div class="card-wrapper swiper-wrapper">
                            <div class="swiper-slide swiperProducts">
                                <img src="../img/products/slider_1-1.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="../img/products/slider_1-8.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="../img/products/slider_1-27.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="../img/products/slider_1-3.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="../img/products/slider_1-8.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="../img/products/slider_1-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-button-next swiper-navBtn"></div>
                        <div class="swiper-button-prev swiper-navBtn"></div>
                    </div>
                </div>
            </section>

            <%- include('./partials/newsLetter') %>
                <%- include('./partials/footer') %>
    </body>

    </html>