<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="product">
                    <h3>Editar producto</h3>
                    <form action="/products/<%= productEdit.id %>/edit?_method=PUT" method="post">
                        <div class="form-group">
                            <label for="nombre">Nombre de producto</label>
                            <input name="name" type="text" id="nombre" placeholder="Nombre del producto"
                                value="<%= productEdit.name %>">
                        </div>
                        <div class="form-group">
                            <label for="brands">Selecciona una marca</label>
                            <select id="brands" name="brands_id">
                                <% brands.forEach(brand=> { %>
                                    <option value="<%= brand.id %>">
                                        <%= brand.name %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Año de fabricacion</label>
                            <input type="text" id="anio" name="fabrication_year" placeholder="Año de fabricacion"
                                maxlength="4">
                        </div>
                        <div class="form-group">
                            <label>Selecciona una o varias categorías:</label>
                            <% categories.forEach(category=> { %>
                                <div class="checkbox-group">
                                    <input type="checkbox" id="categoria<%= category.id %>" name="categories"
                                        value="<%= category.id %>">
                                    <label for="categoria<%= category.id %>">
                                        <%= category.name %>
                                    </label>
                                </div>
                                <% }); %>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <textarea name="description" id="descripcion" placeholder="Descripción"
                                rows="4"><%= productEdit.description %></textarea>
                        </div>
                        <div class="form-group">
                            <label for="precio">Precio</label>
                            <input type="text" id="precio" name="price" placeholder="Precio"
                                value="<%= productEdit.price %>">
                        </div>
                        <input type="submit" value="Editar">
                    </form>
                    <form action="/products/<%= productEdit.id %>/delete?_method=DELETE" method="post">
                        <button type="submit" class="btn-delete-product">Eliminar</button>
                    </form>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

    </html>