<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="title">
                <h1>Lista de productos </h1>
            </div>
            <section class="seccion">
                <div class="contenedor">
                    <div class="seccionIzquierda">
                        <div class="contenedorSwitches">
                            <div class="switches">
                                <h4>Envío Gratis</h4>
                                <input type="checkbox" id="switch1" />
                                <label for="switch1"></label>
                            </div>
                            <div class="switches">
                                <h4>Programa Ahora 12</h4>
                                <input type="checkbox" id="switch2" />
                                <label for="switch2"></label>
                            </div>
                            <div class="switches">
                                <h4>Cuotas sin interés</h4>
                                <input type="checkbox" id="switch3" />
                                <label for="switch3"></label>
                            </div>
                        </div>
                        <div class="categorias">
                            <ul>
                                <li>Categoría</li>
                                <li>Categoría</li>
                                <li>Categoría</li>
                                <li>Categoría</li>
                                <li>Categoría</li>
                                <li>Categoría</li>
                                <li>Categoría</li>
                                <li>Categoría</li>
                                <li>Categoría</li>
                                <li>Categoría</li>
                            </ul>
                        </div>
                    </div>
                    <div class="seccionProducts" id="products">
                        <% products.forEach(product=> {%>
                            <div class="tarjeta">
                                <img src="<%= product.image %>" alt="">
                                <div>
                                    <h3>
                                        <%= product.name %>
                                    </h3>
                                    <p class="">
                                        <%= product.description %>
                                    </p>
                                    <h6>
                                        U$S <%= product.price %>
                                    </h6>
                                    <button class="comprar">Comprar</button>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </section>

            <section class="destacado">
                <div class="title">
                    <h1>PUEDE INTERESARTE</h1>
                </div>
                <div class="slide-container swiper">
                    <div class="slide-content slide4">
                        <div class="card-wrapper swiper-wrapper">
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-1.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-8.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-27.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-3.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-8.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/slider_1-3.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-button-next swiper-navBtn"></div>
                        <div class="swiper-button-prev swiper-navBtn"></div>
                    </div>
                </div>
            </section>

            <%- include('./partials/newsLetter') %>
                <%- include('./partials/footer') %>
    </body>

</html>