<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <main>
                <section class="product-detail">
                    <div class="container-img">
                        <% if (productDetail.Images && productDetail.Images.length> 0) { %>
                            <img src="http://localhost:3030/img/products/<%= productDetail.Images[0].name %>"
                                alt="imagen-producto" />
                            <% } else { %>
                                <img src="http://localhost:3030/img/products/default.png" alt="default">
                                <p>No hay imágenes disponibles</p>
                                <% } %>
                                    <div class="variety">
                                        <% if (productDetail.Images && productDetail.Images.length> 1) { %>
                                            <% productDetail.Images.slice(1).forEach(img=> { %>
                                                <img src="http://localhost:3030/img/products/<%= img.name %>"
                                                    alt="imagen-producto" />
                                                <% }); %>
                                                    <% } %>
                                    </div>
                    </div>

                    <div class="container-info-product">
                        <div class="product-name">
                            <span>
                                <%= productDetail.name %>
                            </span>
                        </div>
                        <div class="category-product">
                            <span>
                                <div class="variety">
                                    <% if (productDetail.Categories && productDetail.Categories.length> 0) { %>
                                        <% productDetail.Categories.slice(0).forEach(category=> { %>
                                            <span>
                                                <%= category.name %>
                                            </span>
                                            <% }); %>
                                                <% } %>
                                </div>
                            </span>
                        </div>
                        <div class="container-price">
                            <span>
                                $ <%= productDetail.price %>
                            </span>
                        </div>

                        <div class="container-details-product">
                            <div class="payments-method">
                                <i class="fas fa-shopping-cart"></i>
                                <span>Mercado Pago</span>
                            </div>
                            <div class="division">
                                <hr>
                            </div>
                            <div class="payments-methods-icon">
                                <div class="payments-up">
                                    <i class="fas fa-credit-card"></i>
                                    <i class="fas fa-credit-card"></i>
                                    <i class="fas fa-credit-card"></i>
                                    <i class="fas fa-credit-card"></i>
                                    <i class="fas fa-credit-card"></i>
                                </div>
                                <div class="payments-down">
                                    <i class="fas fa-credit-card"></i>
                                    <i class="fas fa-credit-card"></i>
                                    <i class="fas fa-credit-card"></i>
                                    <i class="fas fa-credit-card"></i>
                                    <i class="fas fa-credit-card"></i>
                                </div>
                            </div>
                        </div>

                        <div class="delivery">
                            <div class="title-description-delivery">
                                <i class="fa-solid fa-truck"></i>
                                <span>
                                    Hacemos envios a todo el pais.
                                    Calcula el costo desde aqui
                                </span>
                                <i class="fa-solid fa-chevron-right"></i>
                            </div>
                        </div>

                        <div class="question">
                            <div class="title-description-question">
                                <i class="fa-solid fa-comment"></i>
                                <span>
                                    Hacemos envios a todo el pais.
                                    Calcula el costo desde aqui
                                </span>
                                <i class="fa-solid fa-chevron-right"></i>
                            </div>
                        </div>


                        <div class="container-social">
                            <span>Compartir</span>
                            <div class="container-buttons-social">
                                <a href="#"><i class="fa-solid fa-envelope"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                            </div>
                        </div>
                        <div class="container-add-cart">
                            <div class="container-quantity">
                                <input type="number" placeholder="1" value="1" min="1" class="input-quantity" />
                                <div class="btn-increment-decrement">
                                    <i class="fa-solid fa-chevron-up" id="increment"></i>
                                    <i class="fa-solid fa-chevron-down" id="decrement"></i>
                                </div>
                            </div>
                            <button class="btn-add-to-cart">
                                <i class="fa-solid fa-plus"></i>
                                Añadir al carrito
                            </button>
                        </div>
                    </div>
                </section>
                <div class="container-description">
                    <div class="title-description">
                        <h4>Descripción</h4>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="text-description">
                        <p>
                            <%= productDetail.description %>
                        </p>
                    </div>
                </div>

                <div class="container-additional-information">
                    <div class="title-additional-information">
                        <h4>Garantia</h4>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="text-additional-information hidden">
                        <p>Todos nuestros productos cuentan con garantia directa de su importadora,
                            consultanos en caso de alguna duda.
                        </p>
                    </div>
                </div>

                <div class="container-reviews">
                    <div class="title-reviews">
                        <h4>Metodos de envio</h4>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="text-reviews hidden">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Laboriosam iure provident atque voluptatibus
                            reiciendis quae rerum, maxime placeat enim cupiditate
                            voluptatum, temporibus quis iusto. Enim eum qui delectus
                            deleniti similique? Lorem, ipsum dolor sit amet
                            consectetur adipisicing elit. Sint autem magni earum est
                            dolorem saepe perferendis repellat ipsam laudantium cum
                            assumenda quidem quam, vero similique? Iusto officiis
                            quod blanditiis iste?
                        </p>
                    </div>
                </div>
            </main>

            <section class="popularProduct">
                <div class="title">
                    <h1>PUEDE INTERESARTE</h1>
                </div>
                <div class="slide-container swiper">
                    <div class="slide-content slide2">
                        <div class="card-wrapper swiper-wrapper">
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/viola.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/baquetas.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/bongoes.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/platillo.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/redoblante.jpg" alt="">
                            </div>
                            <div class="swiper-slide swiperProducts">
                                <img src="/img/products/estuche.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-button-next swiper-navBtn"></div>
                        <div class="swiper-button-prev swiper-navBtn"></div>
                    </div>
                </div>
            </section>

            <%- include('./partials/newsLetter') %>
                <%- include('./partials/footer') %>


    </body>

    </html>