<%- include('./partials/head') %>

    <body>
        <main>
            <a href="/" class="btn-back">
                <i class="fa-solid fa-arrow-left"></i>
                Volver
            </a>
            <div class="wrapper">
                <div class="profile">
                    <div class="profile_img_info">
                        <div class="img">
                            <img src="../img/users/<%= user.avatar %>" alt="profile_pic">
                        </div>
                    </div>
                    <div class="profile_info">
                        <div class="info">
                            <p class="title">Información</p>
                            <ul>
                                <li><span class="icon"><i class="fa-solid fa-user"></i></span>
                                    <%= user.first_name %>
                                </li>
                                <li><span class="icon"><i class="fa-solid fa-user"></i></span>
                                    <%= user.last_name %>
                                </li>
                                <li><span class="icon"><i class="fa-solid fa-envelope"></i></span>
                                    <%= user.email %>
                                </li>
                                <li><span class="icon"><i class="fa-solid fa-phone"></i></span>
                                    <%= user.phone_number %>
                                </li>
                                <li><span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                                    <%= user.address %>
                                </li>
                            </ul>
                            <div class="modifyUser">
                                <% if (user.role_id !==1) { %>
                                    <a href="/profileEdit/<%= user.id %>">
                                        <button class="btn-edit-product">Editar usuario</button>
                                    </a>
                                    <form action="/users/<%= user.id %>/delete?_method=DELETE" method="post"
                                        onsubmit="return confirmDelete();">
                                        <button type="submit" class="btn-delete-product">Eliminar usuario</button>
                                    </form>
                                    <% } %>

                                        <% if (user.role_id===1) { %>
                                            <a href="/adminList">
                                                <button class="btn-edit-product">Editar productos</button>
                                            </a>
                                            <a href="http://localhost:5173" target="_blank">
                                                <button class="btn-edit-product">Panel de administrador</button>
                                            </a>
                                            <% } %>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </main>
    </body>
    <script>
        function confirmDelete() {
            return confirm("¿Estás seguro de que quieres eliminar este usuario?");
        }
    </script>

    </html>