<%- include('./partials/head') %>

    <body>
        <main>
            <div class="wrapper">
                <div class="profile">
                    <div class="profile_img_info">
                        <div class="img">
                            <img src="../img/users/<%= user.avatar %>" alt="profile_pic">
                        </div>
                    </div>
                    <div class="profile_info">
                        <div class="info">
                            <p>Información</p>
                            <ul>
                                <li><span class="icon"><i class="fa-solid fa-user"></i></span>
                                    <%= user.first_name %>
                                </li>
                                <li><span class="icon"><i class="fa-solid fa-user"></i></span>
                                    <%= user.last_name %>
                                </li>
                                <li><span class="icon"><i class="fa-solid fa-envelope"></i></span>
                                    <%= user.email %>
                                </li>
                            </ul>
                            <div class="modifyUser">
                                <form action="/users/<%= user.id %>/delete?_method=DELETE" method="post">
                                    <button type="submit" class="btn-delete-product">Eliminar</button>
                                </form>
                                <a href="/profileEdit/<%= user.id %>"><button
                                        class="btn-edit-product">Editar</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

    </html>